* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
.container {
  width: 100%;
  height: 75vh;

  position: relative;
  padding-left: 8%;
  padding-right: 8%;
  box-sizing: border-box;
}
.content {
  max-width: 600px;
  margin-top: 100px;
}
.content h1 {
  font-size: 60px;
}
.content p {
  max-width: 450px;
  color: #a1a1a1;
  font-size: 15px;
  line-height: 22px;
  margin: 40px 0;
}
.content button {
  width: 160px;
  padding: 10px 0;
  border: none;
  outline: none;
  font-size: 16px;
  font-weight: 300;
  background: #ffff70;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}
.car-image {
  width: 55%;
  position: absolute;
  right: 70px;
  bottom: 40px;
}
.bottom-menu {
  display: flex;
  position: absolute;
  bottom: 50px;
}
.bottom-menu div {
  display: flex;
  align-items: center;
  font-size: 14px;
  margin-right: 50px;
}
.bottom-menu img {
  width: 25px;
  margin-right: 15px;
}

.bodystyle {
  width: 100%;
  margin: 0 auto;
}
.estyle {
  width: 100%;
  height: 600px;
  background-image: url(../images/ModelSblueprint_auto_x1.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin: 20px 0 40px 0;
  color: white;
}
.estyle1 {
  width: 100%;
  height: 600px;
  background-image: url(../images/charging_auto_x1.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin: 20px 0 40px 0;
  color: white;
}
.estyle2 {
  width: 90%;
  height: 420px;
  background-image: url(../images/modelsframe2.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin: 20px 0 40px 0;
  color: white;
}
.pav {
  width: 98%;
  height: 600px;
  margin: 0px 15px 10px 15px;
}
.pav1 {
  width: 98%;
  height: 550px;
  margin-top: 15px;
  margin-bottom: 15px;
}
.modelsframe {
  display: flex;
  height: 400px;
}
.modelsframe div {
  width: 50%;
  margin-left: 50px;
  font-family: 'Open Sans', sans-serif;
}
.modelsframe h1 {
  font-size: 23px;
  font-weight: 400;
  line-height: 32px;
  color: #000;
}
.full-footer {
  background-color: #243c4f;
}
.top-footer p {
  color: white;
}
.top-footer a {
  color: white;
  font-weight: 600;
}
.top-footer h3 {
  color: white;
}
.bottom-footer {
  background-color: #031b2e;
}
.bottom-footer p {
  color: white;
}
